<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg'); height: 300px;"></div>

  <div class="card mx-4 mx-md-5 shadow-5-strong bg-body-tertiary" style="margin-top: -100px; backdrop-filter: blur(30px);">
    <div class="card-body py-5 px-md-5">

      <form (ngSubmit)="onSubmit()">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Login</h2>

            <!-- Username -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="username"
                class="form-control"
                name="username"
                [(ngModel)]="form.username"
                required
              />
              <label class="form-label" for="username">Username</label>
            </div>

            <!-- Password -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
              />
              <label class="form-label" for="password">Password</label>
            </div>

            <!-- Error Message -->
            <div *ngIf="isLoginFailed" class="alert alert-danger">
              {{ errorMessage }}
            </div>

            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Login
            </button>

            <!-- Social logins -->
            <div class="text-center">
              <p>or login with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1"><i class="fab fa-facebook-f"></i></button>
              <button type="button" class="btn btn-link btn-floating mx-1"><i class="fab fa-google"></i></button>
              <button type="button" class="btn btn-link btn-floating mx-1"><i class="fab fa-twitter"></i></button>
              <button type="button" class="btn btn-link btn-floating mx-1"><i class="fab fa-github"></i></button>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</section>
