
<!--
<div class="jumbotron text-center">
  <h1 class="display-4">Bienvenu dans votre Back office</h1>
  <p class="lead">Connectez-vous maintenant et commencez à gérer efficacement les récitations du Coran et les cotisations avec notre plateforme d'administration.</p>
  <hr class="my-4">
  <p>Connectez-vous dès maintenant et débutez votre administration avec nous</p>
  <a class="btn btn-primary btn-lg" routerLink="/login" role="button">Login</a>
</div>

<div class="container">


-->


<router-outlet></router-outlet>
